.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main {
  height : 800vh;
}

.main-header {
  /* min-height : 100vh; */
  top : 0;
  position : sticky;

}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
.swiper-button-prev {
  @apply absolute !important;
}
.swiper-button-next {
  @apply absolute !important;
}
.swiper-button-prev,
.swiper-button-next {
  @apply w-8 h-8 rounded-full border p-2 bg-white !important;
}

.msMoves{
  animation : msSlider 500ms ease-out;
}    
@keyframes msSlider{
  0% {  
    opacity: 0;
    filter: blur(5px);
  }
  50% {
    opacity: 0.5;
    filter: blur(1.5px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}
